@import './items.css';

.header{
  /* border: 1px solid green; */
  /* padding-block-start: 1.5rem; */
}

.navigation {
  block-size: 7rem;
  display: flex;
  flex-direction: row;
  /* border: 1px solid yellow; */
  justify-content: space-between;
  text-align: center;
  gap: 3rem;
}

.logo{
  width: 107px;
  height: 64px;
  align-self: center;
}

.logo img {
  width: 100%;
  vertical-align: middle;
}


.search {
  /* height: 44px; */
  flex: 2;
  align-self: center;
}